@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-background text-light-white;
  }
}

@layer utilities {
  .gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #9390ff, #f0ccff);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 39%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c616.623C113.48%2c628.03%2c209.979%2c536.697%2c299.491%2c466.018C382.122%2c400.772%2c444.68%2c318.56%2c494.768%2c225.953C547.954%2c127.619%2c614.872%2c24.536%2c598.052%2c-85.987C581.261%2c-196.318%2c491.563%2c-279.916%2c406.743%2c-352.445C330.613%2c-417.543%2c235.27%2c-445.932%2c140.203%2c-477.488C41.629%2c-510.208%2c-56.429%2c-558.84%2c-158.587%2c-540.097C-265.35%2c-520.509%2c-353.247%2c-449.314%2c-430.26%2c-372.822C-511.976%2c-291.66%2c-589.773%2c-200.907%2c-613.55%2c-88.215C-638.067%2c27.988%2c-631.557%2c160.093%2c-563.187%2c257.199C-497.285%2c350.8%2c-359.643%2c347.879%2c-263.146%2c409.463C-167.097%2c470.761%2c-113.372%2c605.227%2c0%2c616.623' fill='%23232531'%3e%3c/path%3e%3cpath d='M1440 1079.533C1534.489 1064.468 1599.565 984.71 1683.903 939.52 1777.7269999999999 889.248 1901.819 885.8340000000001 1963.461 799.056 2027.478 708.935 2032.9740000000002 586.29 2011.9 477.773 1991.337 371.885 1925.151 281.901 1848.325 206.185 1775.676 134.58499999999998 1685.326 86.51799999999997 1587.081 59.089 1489.81 31.932000000000016 1389.492 31.063999999999965 1290.372 50.41199999999998 1183.451 71.28300000000002 1051.8220000000001 81.52199999999999 995.244 174.61700000000002 937.744 269.229 1034.6680000000001 389.877 1017.5830000000001 499.266 1000.152 610.87 870.623 698.307 896.266 808.315 921.539 916.7339999999999 1040.787 976.485 1140.407 1026.176 1233.054 1072.3890000000001 1337.758 1095.835 1440 1079.533' fill='%23272937'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
